{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": false,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true
  },
  "rules": {
    /**
     * Strict mode
     */
    // babel inserts "use strict"; for us
    // and es6 is implicit strict mode when using modules
    "strict": [2, "never"],

    /**
     * ES6
     */
    "arrow-parens": [1, "as-needed"],
    "arrow-spacing": [1, { "before": true, "after": true }],
    "generator-star-spacing": [1, "after"],
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 1,
    "object-shorthand": [1, "always"],
    "prefer-const": 1,
    "prefer-spread": 1,
    "prefer-template": 1,

    /**
     * React
     */
    "jsx-quotes": [2, "prefer-double"],

    /**
     * Variables
     */
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": 2,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-use-before-define": [2, "nofunc"],

    /**
     * CommonJS
     */
    "callback-return": 2,
    "no-new-require": 2,
    "no-path-concat": 2,
    "no-process-exit": 2,
    "no-sync": 2,

    /**
     * Possible errors
     */
    "comma-dangle": [
      1,
      "always-multiline"
    ],
    "no-cond-assign": [2, "always"],
    "no-console": 2,
    "no-constant-condition": 1,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 0,
    "no-extra-parens": 1,
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 1,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-unexpected-multiline": 2,

    /**
     * Best practices
     */
    "block-scoped-var": 2,
    "consistent-return": 2,
    "curly": 1,
    "default-case": 1,
    "dot-notation": [2, {
      "allowKeywords": true
    }],
    "eqeqeq": 2,
    "guard-for-in": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-div-regex": 2,
    "no-else-return": 2,
    "no-empty-label": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 1,
    "no-multi-spaces": 1,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-new": 2,
    "no-octal-escape": 2,
    "no-octal": 2,
    "no-param-reassign": 2,
    "no-process-env": 0,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-void": 2,
    "no-with": 2,
    "radix": 2,
    "vars-on-top": 2,
    "wrap-iife": [2, "any"],
    "yoda": 2,

    /**
     * Style
     */
    "brace-style": [1,
      "1tbs", {
        "allowSingleLine": true
      }
    ],
    "camelcase": [1, {
      "properties": "never"
    }],
    "comma-spacing": [1, {
      "before": false,
      "after": true
    }],
    "comma-style": [1, "last"],
    "consistent-this": [1, "self"],
    "eol-last": 1,
    "func-names": 1,
    "indent": [1, 4],
    "key-spacing": [1, {
      "beforeColon": false,
      "afterColon": true
    }],
    "linebreak-style": [1, "unix"],
    "new-cap": [1, {
      "newIsCap": true
    }],
    "no-multiple-empty-lines": [1, {
      "max": 2
    }],
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-spaced-func": 1,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 2,
    "one-var": [1, "never"],
    "padded-blocks": [1, "never"],
    "quote-props": 0,
    "quotes": [
      1, "single", "avoid-escape"
    ],
    "semi": [2, "always"],
    "semi-spacing": [1, {
      "before": false,
      "after": true
    }],
    "space-in-parens": [1, "never"],
    "space-after-keywords": 1,
    "space-before-blocks": 1,
    "space-before-function-paren": [
      1,
      "never"
    ],
    "space-infix-ops": 1,
    "space-return-throw-case": 1,
    "spaced-comment": 1,
  }
}
